[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/VulkanMemoryAllocator"]
	path = libs/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "libs/Taskus"]
	path = libs/Taskus
	url = https://github.com/LuisDuarte1/Taskus
[submodule "libs/WindowsHModular"]
	path = libs/WindowsHModular
	url = https://github.com/Leandros/WindowsHModular
